body {
  z-index: 1;
  font-family: sans-serif, Arial;
}

canvas {
  border: solid .1em #000;
  height: 80vmin;
  display: inline-block;
  left:10vmin;
}

#canvas {
  z-index: 1;
  background: url("../image/kokkai.jpg");
  background-size: 80vmin 80vmin;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
}
#abe {
  z-index: 2;
  background: transparent;
  position: absolute;
}

#instructions {
  border: solid .1em #000000;
  width: 30vmin;
  height: 50vmin;
  position: absolute;
  position: absolute;
  left: 95vmin;
  font-size: 2vmin;
  padding: 2%;
  webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  -o-user-select: none;
  user-select: none;
}

#result_info {
  border: solid 2px black;
  position: absolute;
  z-index: 1;
  margin-left: 80vmin;
  width: 50vmin;
}
