body {
  z-index: 1;
  font-family: sans-serif, Arial;
  margin: 5% 10%;
}

canvas {
  border: solid .1em #000;
  height: 60vmin;
  display: inline-block;;


}

.result {
  display: none;
  z-index: 3;
  font-size: 3.2vh;
  width: 50vh;
	height: 50vh;

  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#canvas {
  z-index: 1;
  background: url("../image/kokkai.jpg");
  background-size: 60vmin 60vmin;
  background-color: rgba(255, 255, 255, 0.6);

}
#abe {
  z-index: 1;
  background: transparent;
}

#gameover {
  font-family:Courier, sans-serif, Arial;
  font-size: 1.6em;
  color: red;
}
