canvas {
    width: 70vmin;
    position: absolute;
}

#fore {
    margin-top: 7.5vmin;
    margin-left: 5vmin;
    background-color: transparent;
    z-index: 3;
}
#back {
    margin-left: 5vmin;
    z-index: 2;
}

#result_info {
  border: solid 2px black;
  position: absolute;
  z-index: 1;
  margin-left: 80vmin;
  width: 50vmin;
}
